{% extends "base.html" %}
{% block content %}

<div id="user-display">Name:{{ user.name }} - Your energy: {{ user.current_energy }} - Time available: {{ user.time_available }}</div>

<section class="hobby-list">
  {% for hobby in all_hobbies %}
    <div class="hobby-description">
      <h4>Location: {{hobby.location.name}}</h4>

        <div class="hobby-link">
          <a href="/hobbies/{{hobby.id}}">{{hobby.name}}:</a>
          <span class="duration">{{hobby.duration}} mins</span>
        </div>
      <br>

      <div class="hobby-buttons">
        <form action="/hobbies/{{hobby.id}}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="Delete" />
        </form>
        <br>
        <form action="hobbies/{{hobby.id}}/completed" method="POST">
          <input class="btn btn--danger" type="submit" value="Completed">
        </form>
      </div>

      <br>
      <section class="check-mark">
        {% if hobby.completed == True %}
          <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        {% endif %}
      </section>
    </div>

  {% endfor %}

</section>

{% endblock %}