{% extends "base.html" %}
{% block content %}


{% for hobby in all_hobbies %}
  <div class="hobby">
    <h3>Hobby location: {{hobby.location.name}}</h3>
      <div class="hobby_description">
        <a href="/hobbies/{{hobby.id}}">{{hobby.name}}</a>
        <span class="duration">{{hobby.duration}} mins</span>
      </div>
    <br>
    <div class="buttons">
      <form action="/hobbies/{{hobby.id}}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Delete" />
      </form>
      <br>
      <form action="hobbies/{{hobby.id}}/completed" method="POST">
        <input class="btn btn--danger" type="submit" value="Completed">
      </form>


    </div>
    <br>
      {% if hobby.completed == True %}
        <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
      {% endif %}
  </div>

{% endfor %}
{% endblock %}