{% extends "base.html" %}
{% block content %}

<div id="user-display">
  <p>{{ user.name }}</p>
  <p>Your energy: {{ user.current_energy }}</p>
  <p>Your available time: {{ user.time_available }} mins</p>
</div>

<section class="hobby-list">
  {% for hobby in all_hobbies %}
    <div class="hobby-description">
      <h4>Location: {{hobby.location.name}}</h4>

        <div class="hobby-link">
          <a href="/hobbies/{{hobby.id}}">{{hobby.name}}:</a>
          <br>
          <span class="hobby-index-duration">{{hobby.duration}} mins</span>
        </div>
      <br>

      <div class="hobby-buttons">
        <form action="/hobbies/{{hobby.id}}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="Delete" />
        </form>
        <br>
        <form action="hobbies/{{hobby.id}}/completed" method="POST">
          <input class="btn btn--danger" type="submit" value="Completed">
        </form>
      </div>

      <br>
      <section class="check-mark">
        {% if hobby.completed == True %}
          <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        {% endif %}
      </section>
    </div>

  {% endfor %}

</section>

{% endblock %}