{% extends "base.html" %}
{% block content %}


<form id="hobby-creator" action="/hobbies" method="post">

  <div class="hobby-creator-inputs">
    <label for="name">Hobby name:</label>
    <input type="text" id="name" name="hobby_name" placeholder="Hobby" required autofocus>
  </div>

  <div class="hobby-creator-inputs">
    <label for="duration">Duration:</label>
    <input type="number" id="duration" name="hobby_duration" placeholder="Duration" required>
  </div>

  <div class="hobby-creator-inputs">
    <label for="cost">Cost:</label>
    <input type="number" id="cost" name="hobby_cost" placeholder="Cost" required>
  </div>

  <div class="hobby-creator-inputs">
    <label for="energy_expenditure">Energy expenditure:</label>
    <input type="number" id="energy_expenditure" name="hobby_energy_expenditure" placeholder="Energy expenditure">
  </div>

  <div class="hobby-creator-inputs">
    <label for="completed">Completed:</label>
    <select id="completed" name="hobby_completed">
      <option value="false">No</option>
      <option value="true">Yes</option>
    </select>
  </div>

  <div class="hobby-creator-inputs">
    <label for="location">Location:</label>
    <select id="location" name="location_id">
      {% for location in all_locations %}
        <option value="{{ location.id }}">{{ location.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="hobby-creator-inputs">
    <label for="reminder">Reminder:</label>
    <input type="text" id="reminder" name="hobby_reminder" placeholder="Reminder">
  </div>

</form>

<div id="add-hobby">
  <button type="submit">Add Hobby</button>
</div>

{% endblock %}
