{% extends "base.html" %}
{% block content %}

  <div id="show-hobby">
    <span>Hobby name: {{hobby.name}}</span>
    <br>
    <span>Location: {{hobby.location.name}}</span>
    <br>
    <span>Duration: {{hobby.duration}} mins</span>
    <br>
    <span>Cost: {{hobby.cost}}</span>
    <br>
    <span>Energy required: {{hobby.energy_expenditure}}</span>
    <br>
    <span>Completed? {{hobby.completed}}</span>
    <br>
    <span>Reminder: {{hobby.reminder}}</span>
    <br>
    <div id="hobby-edit-button">
      <button><a href="/hobbies/{{hobby.id}}/edit">Edit</a></button>
    </div>
  </div>

{% endblock %}
