body {
    background-color: #DCE3E5;
    color: #242428;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: large;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    height: 4rem;
    background: #2C374A;
    width: 100%;
    color: #fff;
    display: flex;
}

#logo {
    margin: 40px;
    font-size: 2rem;
}

nav {
    background-color: #7E98A0;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin-right: 1rem;
    font-style: none;
    font-size: 1rem;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    color: aqua;
}

h2 {
    border: 1px solid black;
    display: inline;
    border-radius: 5px;
}

.wrapper_index {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
}

.error_message {
    background: red;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text a {
    text-decoration: none;
}

.text a:hover {
    color: rgb(34, 146, 146);
}