{% extends "base.html" %}
{% block content %}


{% for location in all_locations %}
  <div class="location">
    <div class="content">
      <h3>Location: {{location.name}}</h3>
      <div class="description">
        <a href="/locations/{{location.id}}">{{location.name}}</a>
        <span class="distance_to_location">{{location.distance_to_location}} mins</span>
        <form action="/locations/{{ location.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="Delete" />
        </form>
        <br>
        <br>
      </div>
      <div class="buttons">

{% endfor %}

{% endblock %}
