{% extends "base.html" %}
{% block content %}


<section class="location-list">

  {% for location in all_locations %}
  <div class="location-description">
    <h4 id="location-title">Location:</h4>

      <div class="location-link">
        <a href="/locations/{{location.id}}">{{location.name}}</a>
        <br>
        <br>
        <span class="distance_to_location">Walking distance: {{location.distance_to_location}} mins</span>
      </div>
        <br>
      <div class="location-buttons">
        <form action="/locations/{{ location.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="Delete" />
        </form>
      </div>

  </div>
{% endfor %}

</section>



{% endblock %}
