{% extends "base.html" %}
{% block content %}

  <div id="show-location">
    <span>Location: {{location.name}}</span>
    <hr>
    <span>Description: {{location.description}}</span>
    <br>
    <span>Walking time to location: {{location.distance_to_location}} mins</span>
    <br>
    <span>Reminder: {{location.reminder}}</span>
    
    <div id="location-edit-button">
      <button><a href="/locations/{{location.id}}/edit">Edit</a></button>
    </div>

    <hr>
      Hobbies that you can do at this location:
      <br>
      <div id="back-to-hobby-show">
        {% for hobby in hobbies %}
        <ul>
          <li><a href="/hobbies/{{hobby.id}}">{{ hobby.name }}</a></li>
          <br>
        </ul>
        {% endfor %}
      </div>
    
    

  </div>

{% endblock %}
